* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    transition: all 0.5s ease;
}

h1 {
    font-size: 4rem;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 1px;
    font-family: "Pacifico", cursive;
    text-shadow: 3px 2px 3px black;
    font-weight: 200;
}

#toggleBtn {
    padding: 20px 28px;
    font-size: 1.5rem;
    border: none;
    border-radius: 100px;
    background: linear-gradient(135deg, #a53860, #ffb3c6);
    color: black;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    font-family: "Merriweather", serif;
    font-weight: bold;
    text-shadow: 1px 1px 2px white;


}

#toggleBtn:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

#toggleBtn:active {
    transform: scale(0.98);
}

@media (max-width:768px) {
    h1{
        font-size: 2.8rem;
    }
}